// Colors
$white: #fff;
$black: #000;
$green: #afd275;
$cream: #c2b9b0;
$brown: #7e685a;
$grey: #c2cad0;
$red: #e7717d;
$violet: #9c27b0;

//mixin
@mixin df {
  display: flex;
}

@mixin df-align-center {
  @include df;
  align-items: center;
}

@mixin flex-column {
  @include df;
  flex-direction: column;
}

@mixin flex-column-center {
  @include df-align-center;
  flex-direction: column;
}

@mixin flex-column-center-center {
  @include flex-column-center;
  justify-content: center;
}

@mixin textH1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
}

@mixin text16 {
  font-size: 16px;
  line-height: 24px;
}

@mixin text20 {
  font-size: 20px;
  line-height: 28px;
}

@mixin text36 {
  font-size: 36px;
  line-height: 42px;
}
