@import '../../styles/variables.scss';

.signInForm {
  @include flex-column-center-center;

  h4 {
    text-transform: uppercase;
  }

  div {
    margin-bottom: 20px;
  }

  .error {
    color: $red;
  }
}
